.center {
	margin: auto;
	width: 80%;
	border: 3px solid #ffffff;
	padding: 10px;
	
}



body {
	background-image: url(images/lion-flame.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: contain;
	
	background-color: #333333;
	color: #ffffff;
}
tr.heading {
	position: top center;
	width: 100%;
	font-family: arial black;
	font-size: 20pt;
	font-style: bold;
	text-align: center;

	
}
table {
	table-layout: auto;
	background: rgba(0, 0, 0, 0.7);
	width: 60%;
	border: 2px solid #ffffff;
	font-family: ariel;
	color:;
	text-align: left;
	position: fixed center;



}
tr {
	margin: auto;
	opacity: 1.0;
	border: 2px solid #ffffff;
}
td {
	margin: auto;
	opacity: 1.0;
	border: 2px solid #ffffff;
}