body {
	background-image: url("images/valley.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header {
	background-color: #000000;
	width: 100%;
}
nav {
	text-align: center;
}

ul {
	position: fixed;
	top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #333333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #000000;
}

li a:hover{
    background-color: #888888;
    color: #000000;
}

main {	
	box-shadow: 10px 10px 5px grey;
	border-radius: 25px;
	padding: 20px;
	margin-top: 100px;
	background-color: #cccccc;
	width: 60%;
	float: left;
}


aside {
	float: right;
	width: 20%;
	padding: 50px;
}
aside img {
	width: 300px;
	height: 275px;
}
footer {
	box-shadow: 10px 10px 5px grey;
	border-radius: 25px;
	padding: 20px;
	background-color: #cccccc;
	float: left;
}
